<footer>
    <div class="links">
        <div class="card_footer">
            <li>À PROPOS</li>
            <li><a href="#">Contactez-Nous</a></li>
            <li><a href="#">Qui sommes-nous?</a></li>
            <li><a href="#">CGV</a></li>
            <li><a href="#">Mentions Légales</a></li>
        </div>
        <div class="card_footer">
            <li><a href="#">Franchise</a></li>
            <li><a href="#">Nos engagements</a></li>
        </div>
        <div class="card_footer">
            <li>NAVIGATION</li>
            <li><a href="#">Accueil</a></li>
            <li><a href="#">En ce moment</a></li>
            <li><a href="#">Commander</a></li>
            <li><a href="#">Inscription</a></li>
        </div>
        <div class="card_footer">
            <li>NUTRITION</li>
            <li><a href="#">Infos Nutritives</a></li>
            <li><a href="#">Allergènes</a></li>
            <li><a href="#">Nos produits</a></li>
        </div>
    </div>
    <br>
    <div class="foot1">
        <span>Copyright ©2022 All right reserved | made with ❤ by <a href="https://white-umbrella.fr" target="_blank">White Umbrella Dev</a></span>
        <span>On The Road - Food Truck</span>
    </div>   
</footer>