<header>
    <nav>
        <img src="{{asset('img/logo.png')}} " class="logo" alt="Logo" loading="lazy" >
        <div class="ul_user">
            <ul>
                <li>
                    <a href="#">À Propos</a>
                </li>
                <li>
                    <a href="#">Nous trouver</a>
                </li>
                <li>
                    <a href="#">Nos promos</a>
                </li>
            </ul>
            <div class="user">
                <li>
                    <a href="#">
                        <img src="{{asset('img/user.png')}}" alt="user">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="{{asset('img/basket.png')}} " alt="cart">
                        <h6 class="cart_count">2</h6>
                    </a>
                </li>
            </div>
        </div>
    </nav>

    {# section start #}
    <section>
        <div class="left_content_side">
            <h1>Nouveau <br> menu bucket <br>en Promo</h1>
            <p>
                Recette originale de poulet frit épicé dans un bucket à partager.
                <br>
                Parfois c'est juste ce qu'il vous faut, 
                <br>
                pour transformer un mauvais départ, en une bonne journée.
            </p>
            <button>Commander</button>
            <div class="dots">
                <h6></h6>
                <h6></h6>
                <h6></h6>
                <h6></h6>
            </div>
        </div>
        <div class="right_food_side">
            <img src="{{asset('img/bucket.png')}} " alt="bucket">
        </div>
    </section>
    
    {# circles #}
    <div class="circle1"></div>
    <div class="ring1"></div>
    <div class="ring2"></div>
    <div class="red_box"></div>
    <div class="ring3"></div>
</header>