/*-------------MEDIA QUERIES-------------*/

@media (max-width: 1330px){
    header nav{
        width: 80%;
    }
    header section{
        width: 80%;
    }
    .menu{
        width: 80%;
    }
    .card_bx .cards_bx1{
        width: 80%;
    }
    .card_bx .cards_bx1 .card{
        width: 32%;
    }
    .card_bx .cards_bx1 .card_b{
        width: 48%;
    }
    .card_bx .cards_bx1 .card .content h2{
        font-size: 16px;
    }
    .card_bx .cards_bx1 .card_b .content{
        align-items: flex-start;
    }
    .card_bx .cards_bx1 .card_b .content a{
        padding: 5px 12px;
        font-size: 11px;
    }
    .social{
        height: auto;
        padding-bottom: 20px;
    }
    .social .social2 .social_box .twitter{
        width: 100%;
        margin: 5px 0px;
    }
    .social .social2 .social_box .facebook{
        width: 100%;
        margin: 5px 0px;
        height: 100px;
    }
    .social .social2 .social_box .insta_boxs{
        width: 100%;
        height: 170px;
    }
    .social .social2 .social_box .facebook .chicken_box{
        bottom: 22px;
    }
}

@media (max-width: 825px){
    .menu .menu_sec .border{
        left: 3.5%;
    }
    .app_box .app_box1 .app_content h1{
        font-size: 20px;
    }
    .app_box .app_box1 .app_content .app_imgs img{
        width: 120px;
    }
    address .add .otr-add, .otr-icon{
        width: 70%;
    }
    address .add .otr-icon{
        width: 30%;
    }
    .social .social2 .social_video_box .video {
        height: 210px;
    }
    .card_bx .cards_bx1 .card {
        width: 49%;
        margin: 5px 0px;
    }
    .card_bx .cards_bx1 .card_b:nth-child(5) {
        width: 100%;
    }
    .card_bx{
        height: auto;
        padding: 40px 0px;
    }
    .card_bx .cards_bx1 .card_b img {
        width: 45%;
    }
    .app_box .app_box1 .app_img, .app_content {
        width: 45%;
    }
}

@media (max-width: 740px){
    header section .left_content_side p {
        font-size: 10px;
    }
    header section .left_content_side h1 {
        font-size: 26px;
        line-height: 30px;
    }
    header nav .logo {
        width: 135px;
        margin-top: 22px;
    }
}

@media (max-width: 620px){
    header{
        height: 100vh;
    }
    header section{
        flex-wrap: wrap-reverse;
        margin-top: 30px;
    }
    header section .left_content_side, .right_food_side{
        width: 100%;
        height: 50%;
    }
    header section .left_content_side h1 {
        font-size: 28px;
        line-height: 30px;
        margin-top: 17px;
    }
    header nav ul li {
        padding: 5px 0px 5px 12px;
    }
    header nav ul li a {
        font-size: 10px;
    }
    header section .right_food_side img {
        width: 100%;
        margin-top: 55px;
    }
    header nav ul {
        position: absolute;
        width: 300px;
        height: 20px;
        right: -150%;
        top: 52px;
        z-index: 9999;
    }
    header nav .user li:nth-child(2){
        display: none;
    }
    header .menu_icon{
        display: flex;
        z-index: 9999;
    }
    header .menu_icon .svg-inline--fa:nth-child(2){
        display: none;
    }
    header section .left_content_side p {
        margin: 8px 0px;
    }

    header nav .logo {
        margin-right: 40%;
    }

    /* JS CLASSES */

    .menu_ul_list_java{
        right: 10%;
    }

    header .burger .svg-inline--fa:nth-child(1){
        display: none;
    }
    header .burger .svg-inline--fa:nth-child(2){
        display: flex;
    }

    .card_bx .cards_bx1 {
        justify-content: center;
        flex-wrap: wrap;
    }
    .card_bx .cards_bx1 .card {
        width: 70%;
    }
    .card_bx .cards_bx1 .card:nth-child(5) {
        width: 80%;
    }
    .app_box {
        height: auto;
    }
    .app_box::before {
        height: 100%;
        transform: skewX(15deg);
    }
    .app_box .app_box1 {
        height: auto;
        flex-wrap: wrap;
    }
    .app_box .app_box1 .app_img, .app_content {
        width: 100%;
        height: 50%;
    }
    .app_box .app_box1 .app_content {
        margin-left: 15%;
        padding-bottom: 30px;
    }
    .social .social2 {
        flex-wrap: wrap;
    }
    .social .social2 .social_box, .social_video_box {
        width: 100%;
    }
    .social .social2 .social_video_box .video {
        height: 240px;
    }
    address {
        height: 120px;
    }
    address .add {
        flex-wrap: wrap;
    }
    address .add .otr-add, .otr-icon {
        width: 100%;
        height: 50%;
    }
    address .add .otr-icon {
        width: 100%;
    }


    @media (max-width: 420px){
        .card_bx .cards_bx1 .card {
            width: 100%;
        }
        .card_bx .cards_bx1 .card:nth-child(5) {
            width: 100%;
        }
        .app_box::before{
            transform: skewX(0deg);
        }
        address .add .otr-add .phone {
            font-size: 11px;
        }
        address .add .otr-add .phone img{
            width: 25px;
            height: 25px;
        }
    }


    @media (max-width: 400px){
        .app_box .app_box1 .app_img img {
            width: 80%;
        }
        .social .social2 .social_video_box .video {
            height: 200px;
        }
        footer .links .card_footer li a {
            font-size: 10px;
        }
        header nav .user li {
            margin-left: 1px;
        }
        header nav .logo {
            margin-left: 10%;
        }
        header nav .logo {
            width: 100px;
            margin-top: -17px;
        }
        header section {
            margin-top: -50px;
        }
        .menu .left_arrow, .right_arrow {
            left: -9%;
        }
        footer .links {
            width: 100%;
            height: 68%;
        }
        footer .foot1 {
            font-size: 9px;
        }
        footer .links .card_footer li{
            padding: 5px 0px;
        }
    }
}