<!DOCTYPE html>
<html lang="fr" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Foodtruck{% endblock %}</title>

        {% block stylesheets %}
            <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
            <link rel="stylesheet" href="{{asset('css/style.css')}} ">
            <link rel="stylesheet" href="{{asset('css/flash.css')}} ">
        {% endblock %}

    </head>
    <body>
        {% include "partials/_navbar.html.twig" %}
        {% include "partials/_flash.html.twig" %}


        {% block body %}{% endblock %}
        
        {% include "partials/_footer.html.twig" %}
        {% block javascripts %}
            <script src="{{asset('js/script.js')}} "></script>
        {% endblock %}
    </body>
</html>
